* {
  box-sizing: border-box;
}

h1 {

color:aliceblue;
text-align: center;

}

/*.hidden {
  display: none;
  } */

section {
  
  text-align: center;
  padding-bottom: 80px;

}

p {
 text-align: center;
  color: white;
}


body {

  background-image: url("https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg");
  margin-left: auto;
  margin-right: auto;
  
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

a {

  color: yellow;
}

input {
  display: block;
  margin: auto;
  border: black solid 1px;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  font-size: 20px;
 
  
}

#submit {
 display: block;
  margin: auto;
  border: white solid 1px;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  background-color: black;
  color: white;
}

#results {
margin: auto;
align-content: center;
display: float-center;
color: white;


} 

.list-group {

list-style: none;
align-content: center;
padding-bottom: 10px;
border: 1px solid gray;
border-radius: 30%;
background: black;
margin: 20px;


}

.list img {

padding-top: 15px;
border-radius: 10px;

}


js-search-form {
 align-content: center;
 
}

#title {

font-size: 40px;
}

.img-thumbnail {

 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#notFound {

  text-align: center;
  padding-top: 40px;

  display: float-center;
  
  }


